WebServiceDesignStyles1ProjectClient/src/META-INF/wsdl/localhost_8080/WebServiceDesignStyles1ProjectServer/WebServiceDesignStyle1ProjectServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bhuang.andrew.cmu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bhuang.andrew.cmu/" name="WebServiceDesignStyle1ProjectServer">
<types>
<xsd:schema>
<xsd:import namespace="http://bhuang.andrew.cmu/" schemaLocation="http://localhost:8080/WebServiceDesignStyles1ProjectServer/WebServiceDesignStyle1ProjectServer?xsd=1"/>
</xsd:schema>
</types>
<message name="getSpy">
<part name="parameters" element="tns:getSpy"/>
</message>
<message name="getSpyResponse">
<part name="parameters" element="tns:getSpyResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="addSpy">
<part name="parameters" element="tns:addSpy"/>
</message>
<message name="addSpyResponse">
<part name="parameters" element="tns:addSpyResponse"/>
</message>
<message name="updateSpy">
<part name="parameters" element="tns:updateSpy"/>
</message>
<message name="updateSpyResponse">
<part name="parameters" element="tns:updateSpyResponse"/>
</message>
<message name="deleteSpy">
<part name="parameters" element="tns:deleteSpy"/>
</message>
<message name="deleteSpyResponse">
<part name="parameters" element="tns:deleteSpyResponse"/>
</message>
<message name="getListAsXML">
<part name="parameters" element="tns:getListAsXML"/>
</message>
<message name="getListAsXMLResponse">
<part name="parameters" element="tns:getListAsXMLResponse"/>
</message>
<portType name="WebServiceDesignStyle1ProjectServer">
<operation name="getSpy">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getSpyRequest" message="tns:getSpy"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getSpyResponse" message="tns:getSpyResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getListRequest" message="tns:getList"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="addSpy">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/addSpyRequest" message="tns:addSpy"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/addSpyResponse" message="tns:addSpyResponse"/>
</operation>
<operation name="updateSpy">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/updateSpyRequest" message="tns:updateSpy"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/updateSpyResponse" message="tns:updateSpyResponse"/>
</operation>
<operation name="deleteSpy">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/deleteSpyRequest" message="tns:deleteSpy"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/deleteSpyResponse" message="tns:deleteSpyResponse"/>
</operation>
<operation name="getListAsXML">
<input wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getListAsXMLRequest" message="tns:getListAsXML"/>
<output wsam:Action="http://bhuang.andrew.cmu/WebServiceDesignStyle1ProjectServer/getListAsXMLResponse" message="tns:getListAsXMLResponse"/>
</operation>
</portType>
<binding name="WebServiceDesignStyle1ProjectServerPortBinding" type="tns:WebServiceDesignStyle1ProjectServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListAsXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceDesignStyle1ProjectServer">
<port name="WebServiceDesignStyle1ProjectServerPort" binding="tns:WebServiceDesignStyle1ProjectServerPortBinding">
<soap:address location="http://localhost:8080/WebServiceDesignStyles1ProjectServer/WebServiceDesignStyle1ProjectServer"/>
</port>
</service>
</definitions>